@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn-sidebar{
    @apply flex mb-2 items-center pl-3 h-10 bg-white hover:pl-10 transition-all duration-500 delay-100 ease-in-out hover:duration-200 hover:text-blue2;
  }
}

.😀:nth-child(1n){
  animation: upanddown ease-in-out 15s infinite;
}
.😀:nth-child(2n){
  animation: upanddown2 ease-in-out 15s infinite;
}
.😀:nth-child(3n){
  animation: upanddown3 ease-in-out 15s infinite;
}
.😀:nth-child(4n){
  animation: upanddown2 ease-in-out 8s infinite;
}
@keyframes upanddown {
  0%{
    transform: translatey(10%);
  }
  50%{
    transform: translatey(50%);

  }
  100%{
    transform: translatey(10%);
  }
}
@keyframes upanddown2 {
  0%{
    transform: translatey(50%);
  }
  50%{
    transform: translatey(25%);
  }
  100%{
    transform: translatey(50%);
  }
}
@keyframes upanddown3 {
  0%{
    transform: translatey(50%);
  }
  50%{
    transform: translatey(10%);

  }
  100%{
    transform: translatey(50%);
  }
}


.title{
  font-family: 'Libre Franklin', sans-serif;
}
.title2{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

.line{
  animation: expand ease-in-out 1.8s forwards;
}
.lineaway{
  animation: move ease-in-out 0.7s 0.7s forwards;
}
@keyframes move{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(80%);
  }
}
@keyframes expand{
  0%{
    height: 0;
    width: 0;
  }
  25%{
    height: 80px;
    width: 20px;
  }
  50%{
    height: 80px;
  }
  80%{
    height: 80px;
  }
  100%{
    height: 0px;
  }
}